body{
    margin:0 auto;
    padding:0;
    background-color:grey;
}



header{
    text-align:center;
    background-color:blue;
    
    
    color:black;
    height:200px;
    width:100%;
    
}
div{
    width=40%;
    height: 100%;
}

#_header{

    margin:0 auto;
    padding:0;
    background-image: url("http://i.imgur.com/Ud9xF3V.png?1");
    background-repeat: no-repeat;
}

