body{
    margin:0 auto;
    padding:0;
    background-color:grey;
}



header{
    
    background-color:lightblue;
    border: 3px solid blue;
    margin:0 auto;
    padding:0;
    height:200px;
    width:90%;
    background-image: url("http://i.imgur.com/Ud9xF3V.png?1");
    background-repeat: no-repeat;
    
}
div{
    width:100%;
    height: 100%;
    margin:0 auto;
    
    
    padding:45px;
    align-items: center;
}

#_promo1{

   
    margin-top:20px;
    margin-left: 37%;
    
    
    color:blue;
    font-size:22px;

    list-style:none;
    float:left;
}



nav,article, section{
    background-color:lightblue;
    border: 3px solid blue;
    margin:0 auto;
    padding:0;
    height:50px;
    width:90%;

}

li{
    width:calc(100%/3);
    margin:0;
    padding:0;
    list-style:none;
    float:left;
    text-align: center;
}

p{
    text-align: center;
    color:blue;
    font-size:20px;}

